# Dependencies
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.connections

# Build outputs
dist/
.next/

# Packed files (keep redbtn packages)
*.tgz
!redbtn*.tgz
!red-auth*.tgz

# User data
context/
channels.json

# Documentation (non-README)
*.md
!README.md

# Test files
# tests/
# *.test.ts
# *.test.tsx
*.spec.ts
*.spec.tsx
package-lock.json
